{% extends 'base.html.twig' %}

{% block title %}Automatron - Réinitialiser son mot de passe{% endblock %}

{% block content %}
    <h1 class="text-center text-primary mt-5">Récupérer son mot de passe</h1>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-4 mt-4 mb-4">
            <div class="bg-light p-4 rounded shadow-sm mb-2">
                <p>Si votre email est lié à un compte, vous allez recevoir un mail contenant un lien pour réinitialiser votre mot de passe. Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
                <p>Dans l'éventualité où vous n'avez rien reçu, regardez vos spams ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
